<section class="main-section">
  <div class="container">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Months</mat-label>
        <mat-select
          [formControl]="month"
          (selectionChange)="loadOrders()"
        >
          <mat-select-trigger>
            {{month.value ? month.value.text : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let month of monthsList" [value]="month">{{month.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="isBoss">
          <th mat-header-cell *matHeaderCellDef> Boss</th>
          <td mat-cell *matCellDef="let element"> {{element.isBoss}} </td>
        </ng-container>

        <ng-container matColumnDef="isDone">
          <th mat-header-cell *matHeaderCellDef> Done</th>
          <td mat-cell *matCellDef="let element"> {{element.isDone}} </td>
        </ng-container>

        <ng-container matColumnDef="delayTime">
          <th mat-header-cell *matHeaderCellDef> Delay</th>
          <td mat-cell *matCellDef="let element"> {{element.delayTime / 60000}} mins </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Created at</th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date: "medium" }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div>
    </div>
  </div>
</section>
